<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1">

</head>

<body>

	<%= render "shared/_header_gotham" %>

	<%= render "shared/navbar_gotham" %>

	<%= render "shared/programme_gotham" %>

	<%= render "shared/resume_gotham" %>

	<%= render "shared/villes_gotham" %>

	<%= render "shared/prix_gotham" %>

	<%= render "shared/temoignages_gotham" %>

	<%= render "shared/contact" %>

	<%= render "shared/footer" %>

	<%= render "shared/script" %>

</body>

</html>